[defaults]
inventory = inventories/production/hosts.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent

vault_password_file = /home/eds_admin/.config/ansible/edusmart-vault-pass
