---
global:
  resolve_timeout: 5m
  smtp_smarthost: "{{ monitoring_alert_smtp_smarthost }}"
  smtp_from: "{{ vault_postfix_smtp_username }}"
  smtp_require_tls: false

route:
  receiver: email-admin
  group_by:
    - alertname
    - job
    - instance
  group_wait: "{{ monitoring_alert_group_wait }}"
  group_interval: "{{ monitoring_alert_group_interval }}"
  repeat_interval: "{{ monitoring_alert_repeat_interval }}"

receivers:
  - name: email-admin
    email_configs:
      - to: "{{ monitoring_alert_email_to }}"
        send_resolved: true
